* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans',sans-serif;
  transition: 0.4s;
}

body {
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(270deg, #58246e, #13141a);
  background-size: 400% 400%;
  animation: AnimationName;
  -webkit-animation: AnimationName 30s ease infinite;
}

.row {
  padding: 30px;
  background: url(purple.jpg);
  background-position: center;
  background-size: cover;
  height: 450px;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row img {
  border-radius: 100%;
  width: 220px;
  margin-bottom: 10px;
  border: 5px solid #221;
}

.row img:hover {
  transform: rotate(360deg);
}

.row h2 {
  background: #58246e;
  padding: 10px 30px;
  border-radius: 50px;
  color: #fadf49;
}

.row-info {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fadf49;
  margin-top: 30px;
  line-height: 2em;
  background: rgb(88, 42, 108,0.4);
  border-radius: 100px;
}

.row-info div {
 width: 50%;
 padding: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid #1d1d1d;
  text-align: center;
  font-size: 18px;
}

.front {
  text-align: center;
  font-size: 25px;
}

.info a {
  color :#fadf49;
  text-decoration: none;
}
.row2 {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.row2 a {
  font-size: 40px;
  margin: 10px;
  color : #f1f1f1;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
  border-radius: 100%;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row2 a:hover {
  transform: scale(1.2);
  background: #222;
  color: #fadf49;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@media (min-width: 120px) and (max-width: 500px) {

body {
  overflow: auto;
}

.row-info {
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  background: none;
}

.row-info div {
  width: 100%;
  padding: 20px;
}

.info {
  border-top: 1px solid #1d1d1d;
  border-left: none;
}

.row {
  padding: 10px;
  height: 500px;
}

.row h2 {
  text-align: center;
  font-size: 19px;
}

.row2 a {
  width: 50px;
  height: 50px;
}

}
